header {
  background-image: url(../../img/header/bg.png);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 145px;
}
header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
header .header-top .header-menu {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-top .header-menu .hidden-menu-ticker {
  display: none;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
  right: 14.62%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  top: 9px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: .5;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: -9px;
  opacity: .5;
}
header .header-top .header-menu .hidden-menu-ticker:checked ~ .mask-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}
header .header-top .header-menu .mask-content {
  position: absolute;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 81.25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  color: red;
}
header .header-top .header-menu .btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: fixed;
  right: 8.6%;
  cursor: pointer;
  -webkit-transition: left .23s;
  transition: left .23s;
  z-index: 3000;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
header .header-top .header-menu .btn-menu span {
  display: block;
  height: 4px;
  background-color: white;
  margin: 5px 0 0;
  -webkit-transition: all .1s linear .23s;
  transition: all .1s linear .23s;
  position: relative;
}
header .header-top .header-menu .btn-menu .first {
  width: 55px;
  margin-top: 0;
}
header .header-top .header-menu .btn-menu .second {
  width: 42px;
  margin-left: 13px;
}
header .header-top .header-menu .btn-menu .third {
  width: 55px;
}
header .header-top .header-menu .hidden-menu {
  text-align: center;
  display: block;
  position: fixed;
  list-style: none;
  padding: 37px 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18.75%;
  background-color: #202020;
  height: 100%;
  top: 0;
  right: -18.75%;
  -webkit-transition: left .2s;
  transition: left .2s;
  z-index: 2000;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin-bottom: 90px;
}
header .header-top .header-menu .hidden-menu .hidden-logo {
  margin-bottom: 115px;
}
header .header-top .header-menu .hidden-menu ul {
  list-style: none;
  margin-bottom: 90px;
  padding: 0;
}
header .header-top .header-menu .hidden-menu ul .active {
  border-bottom: 3px solid #f04c51;
}
header .header-top .header-menu .hidden-menu ul .active a {
  color: #f04c51;
}
header .header-top .header-menu .hidden-menu ul li {
  border-bottom: 1px solid #343434;
  position: relative;
}
header .header-top .header-menu .hidden-menu ul li:hover {
  border: none;
}
header .header-top .header-menu .hidden-menu ul li::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 100%;
  height: 4px;
  background: #e3494e;
  width: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header .header-top .header-menu .hidden-menu ul li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 100%;
  height: 4px;
  background: #e3494e;
  width: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header .header-top .header-menu .hidden-menu ul li:hover::before {
  width: 100%;
  right: 0;
  left: 0;
}
header .header-top .header-menu .hidden-menu ul li:hover::after {
  width: 100%;
  right: 0;
  left: 0;
}
header .header-top .header-menu .hidden-menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 100%;
}
header .header-top .header-menu .hidden-menu ul li:hover a {
  color: #f04c51;
}
header .header-top .header-menu .hidden-menu .hidden-menu_downloads {
  vertical-align: top;
}
header .header-top .header-menu .hidden-menu .hidden-menu_downloads a {
  text-decoration: none;
}
header .header-top .header-menu .hidden-menu .hidden-menu_downloads a img {
  width: 37.6%;
}
header .header-content .header-content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 110px;
}
header .header-content .header-content_title .header-content_title__line1 {
  width: 12.7%;
  padding-bottom: 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .header-content .header-content_title .header-content_title__line1 img {
  width: 100%;
}
header .header-content .header-content_title .header-content_title__text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  width: 28.2%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .header-content .header-content_title .header-content_title__text h2 {
  margin: 0;
  font-size: 2.25rem;
}
header .header-content .header-content_title .header-content_title__text h1 {
  margin: 0;
  font-size: 4.75rem;
}
header .header-content .header-content_title .header-content_title__line2 {
  width: 58.5%;
  position: relative;
}
header .header-content .header-content_title .header-content_title__line2 img {
  position: absolute;
  top: -335px;
  bottom: 0;
  width: 100%;
}
header .header-content .header-content_dowload {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-content .header-content_dowload .astore {
  margin-left: 18.35%;
  margin-right: 37px;
}
header .header-content .header-content_dowload .crossline {
  display: inline-block;
  margin-right: 37px;
  width: 22px;
}
