@media screen and (max-width: 1440px) {
  header {
    padding-bottom: 85px;
  }
  header .header-top .header-menu .hidden-menu ul li a {
    font-size: 0.9rem;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    padding-bottom: 25px;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -224px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 3.9rem;
  }
}
@media screen and (max-width: 1200px) {
  header .header-content .header-content_title {
    margin-bottom: 75px;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    padding-bottom: 19px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 3.1rem;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -181px;
  }
  header .header-top .header-menu .mask-content {
    width: 80%;
  }
  header .header-top .header-menu .hidden-menu {
    width: 20%;
    right: -20%;
    padding: 32px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding-bottom: 55px;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    padding-bottom: 13px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 2.6rem;
  }
  header .header-content .header-content_title .header-content_title__text h2 {
    font-size: 1.4rem;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -152px;
  }
  header .header-top .header-menu .hidden-logo {
    margin-bottom: 80px !important;
  }
  header .header-top .header-menu .mask-content {
    width: 75%;
  }
  header .header-top .header-menu .hidden-menu {
    width: 25%;
    right: -25%;
    padding: 32px;
  }
  header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
    right: 18.62%;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 50px;
  }
  header .header-content .header-content_title {
    margin-bottom: 50px;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    padding-bottom: 8px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 1.9rem;
  }
  header .header-content .header-content_title .header-content_title__text h2 {
    font-size: 1.1rem;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -114px;
  }
  header .header-content .header-content_dowload .astore {
    width: 120px;
    margin-right: 15px;
  }
  header .header-content .header-content_dowload .astore img {
    width: 100%;
  }
  header .header-content .header-content_dowload .gp {
    width: 120px;
  }
  header .header-content .header-content_dowload .gp img {
    width: 100%;
  }
  header .header-content .header-content_dowload .crossline {
    width: 10px;
    margin-right: 15px;
  }
  header .header-top .header-menu .hidden-logo {
    margin-bottom: 60px !important;
  }
  header .header-top .header-menu .mask-content {
    width: 70%;
  }
  header .header-top .header-menu .hidden-menu {
    width: 30%;
    right: -30%;
    padding: 32px;
  }
  header .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
    right: 21.62%;
  }
}
@media screen and (max-width: 426px) {
  header {
    padding-bottom: 42px;
  }
  header .container .header-top {
    margin-bottom: 60px;
  }
  header .container .header-top .mask-content {
    width: 40%;
  }
  header .container .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
    right: 44.62%;
  }
  header .container .header-top .header-menu .hidden-menu {
    width: 60%;
    right: -60%;
  }
  header .container .header-top .header-logo {
    width: 30%;
  }
  header .container .header-top .header-logo a img {
    width: 100%;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    padding-bottom: 12px;
  }
  header .header-content .header-content_title .header-content_title__line2 {
    width: 40%;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -56px;
  }
  header .header-content .header-content_title .header-content_title__text {
    width: 40%;
    padding: 5px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 1.6rem !important;
  }
  header .header-content .header-content_title .header-content_title__text h2 {
    font-size: 0.7rem !important;
  }
  header .header-content .header-content_dowload {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  header {
    padding-bottom: 20px;
    padding-top: 15px;
  }
  header .container .header-top {
    margin-bottom: 60px;
  }
  header .container .header-top .mask-content {
    width: 25%;
  }
  header .container .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
    top: 6%;
    right: 55.62%;
  }
  header .container .header-top .header-menu .hidden-menu {
    width: 75%;
    right: -75%;
  }
  header .container .header-top .header-logo {
    width: 30%;
  }
  header .container .header-top .header-logo a img {
    width: 100%;
  }
  header .header-content .header-content_title {
    margin-bottom: 60px;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    width: 5%;
    padding-bottom: 12px;
  }
  header .header-content .header-content_title .header-content_title__line2 {
    width: 47%;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -56px;
  }
  header .header-content .header-content_title .header-content_title__text {
    width: 47%;
    padding: 5px;
  }
  header .header-content .header-content_dowload {
    text-align: center;
  }
  header .header-content .header-content_dowload .astore {
    display: inline-block;
    margin-left: 43px;
  }
}
@media screen and (max-width: 320px) {
  header {
    padding-bottom: 20px;
    padding-top: 15px;
  }
  header .container .header-top {
    margin-bottom: 60px;
  }
  header .container .header-top .mask-content {
    width: 25%;
  }
  header .container .header-top .header-menu .btn-menu {
    right: 8.6%;
  }
  header .container .header-top .header-menu .hidden-menu-ticker:checked ~ .btn-menu {
    top: 6%;
    right: 55.62%;
  }
  header .container .header-top .header-menu .hidden-menu {
    width: 75%;
    right: -75%;
  }
  header .container .header-top .header-logo {
    width: 50%;
  }
  header .container .header-top .header-logo a img {
    width: 100%;
  }
  header .header-content .header-content_title {
    margin-bottom: 24px;
  }
  header .header-content .header-content_title .header-content_title__line1 {
    display: none;
  }
  header .header-content .header-content_title .header-content_title__line2 {
    width: 47%;
  }
  header .header-content .header-content_title .header-content_title__line2 img {
    top: -76px;
  }
  header .header-content .header-content_title .header-content_title__text {
    width: 47%;
    padding: 5px;
  }
  header .header-content .header-content_title .header-content_title__text h1 {
    font-size: 1.4rem !important;
  }
  header .header-content .header-content_dowload .astore {
    margin-left: 20px;
  }
}
